# 1. 忽略编译输出文件夹 (必备)
build/
bin/

# 2. 忽略编译产生的中间文件 (防漏网之鱼)
*.o
*.bin
*.elf
*.map
*.hex

# 3. 忽略第三方庞大的 UI 库
SDL2-2.32.10/

# 4. 忽略本地编辑器配置 (强烈建议不传云端)
.vscode/
.idea/

# 5. 忽略操作系统自动生成的垃圾文件
.DS_Store
Thumbs.db